* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  /* border-box: 100%; */
}

/* headers*/

h1, .h1, h2, .h2, h3, .h3 {
  margin: 0;
}

h1 {
  font-size: 3em;
  display: block;
  color: #E3EDF7;
}

.center-content {
  color: #fff;
  text-transform: uppercase;
}

.center-content .welcome-message {
  text-transform: none;
}

.contact-text {
  text-transform: capitalize;
}

h2 {
  font-weight: bold;
  font-size: 2.2em;
  color: #E3EDF7;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h3 {
  margin-top: 15px;
  font-size: 1.6em;
  color: #999999;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-weight: bold;
  font-size: 1em;
  color: #4A4A4A;
}

h2, h3, h4, h5 {
  padding: 10px 0;
  background-color: #065468;
}

body {
  margin: 0;
  background-color: #A2E1FF;
}

.details {
  max-width: 80%;
  margin: auto;
}

/*paragraphs*/

p {
  font-size: 1.3em;
  color: #E3EDF7;
  line-height: 21px;
  margin: 0 0 0;
  padding-bottom: 15px;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
  font-size: 1.3em;
  display: inline-block;
  text-decoration: none;
  color: #E3EDF7;
  text-align: center;
}

a:hover, a:focus {
  text-decoration: none;
  color: #E3EDF7;
  background-color: #E3EDF7;
  border-radius: 5%;
}

#header {
  background-color: #065468;
  margin: 50px auto;
}

#header button {
  float: right;
  margin: 15px;
}

#topContacts {
  display: block;
  padding: 15px;
  color: #E3EDF7;
  background-color: #222222;
}

#skills {
  color: #E3EDF7;
  background-color: #222222;
}

#skills .flex-item {
  display: inline-block;
  padding: 10px;
  text-align: justify;
}

#workExperience {
  padding-top: 15px;
  color: #E3EDF7;
  background-color: #222222;
}

#education div {
  text-align: left;
}

#projects {
  padding-top: 15px;
  color: #E3EDF7;
  background-color: #222222;
}

#education {
  padding-top: 15px;
  color: #E3EDF7;
  background-color: #222222;
}

div#map {
  width: 100%;
  height: 400px;
}

#mapDiv {
  display: block;
  color: #E3EDF7;
  background-color: #222222;
  max-height: 100%;
  max-width: 100%;
}

#letsConnect {
  color: #E3EDF7;
  background-color: #065468;
}

#footerContacts.flex-box {
  font-size: 1em;
  padding: 10px;
  padding-bottom: 35px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: left;
}

img.biopic {
  float: left;
}

.container {
  max-width: 60%;
}

.container-fluid {
  max-height: 10%;
}

.education-entry {
  font-size: 1em;
}

.btn .btn-navbar {
  background: grey;
  color: white;
  position: relative;
}

.navbar-default, a {
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  color: #E3EDF7;
  font-size: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 3em;
  line-height: 1em;
}

.navbar-fixed-top {
  border-width: 0 0 1px;
  position: relative;
  padding: 1% 5% 3%;
}

.navbar-toggle {
  display: block;
}

/* date text*/

.date-text {
  display: inline-block;
  font-style: italic;
  font-size: 1.2em;
  color: #999999;
  padding-left: 10px;
  padding-right: 10px;
}

/*location text*/

.location-text {
  font-style: italic;
  font-size: 1em;
  color: #999999;
  float: right;
}

/*welcome message*/

.welcome-message {
  display: block;
  margin-top: 20px;
  font-style: italic;
  font-size: 1.2em;
  color: #F3F3F3;
  padding: 20px;
  /* text-align: center; */
}

.blue {
  background-color: #333;
}

.blue-text {
  color: #E3EDF7;
  text-align: left;
}

.white-text {
  box-sizing: border-box;
  font-size: 1em;
  font-weight: bold;
  color: #E3EDF7;
  padding: 10px;
}

.contact-text {
  font-size: 1em;
  font-weight: bold;
  color: #E3EDF7;
  text-align: left;
  padding-left: 15px
}

.white-text-skills {
  font-weight: bold;
  color: #E3EDF7;
  font-size: 1.8em;
  padding: 10px;
  text-transform: uppercase;
}

.dark-gray {
  background-color: #4A4A4A;
}

.flex-box {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

.biopic {
  padding: 5px;
  margin: 15px;
  width: 200px;
  cursor: pointer;
}

.modal-title {
  color: #E3EDF7;
  font-size: 1em;
  text-align: center;
}

i, cite, em, var, address, dfn {
  font-size: 1.3em;
  text-align: center;
}

img {
  padding: 10px;
  vertical-align: left;
}

/* Internationalize button */

button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F3F3F3), color-stop(1, #065468));
  background: -moz-linear-gradient(top, #F3F3F3 5%, #041b21 100%);
  background: -webkit-linear-gradient(top, #F3F3F3 5%, #041b21 100%);
  background: -o-linear-gradient(top, #F3F3F3 5%, #041b21 100%);
  background: -ms-linear-gradient(top, #F3F3F3 5%, #041b21 100%);
  background: linear-gradient(to bottom, #F3F3F3 5%, #041b21 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3', endColorstr='#065468', GradientType=0);
  background-color: #F3F3F3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0.5px solid #065468;
  display: inline-flex;
  cursor: pointer;
  top: 1.5px;
  justify-content: end;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0px 2px 5px #283966;
  filter: alpha(opacity=60);
  -moz-opacity: .6;
  opacity: .6;
  text-transform: uppercase;
}

button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #041b21), color-stop(1, #F3F3F3));
  background: -moz-linear-gradient(top, #041b21 5%, #F3F3F3 100%);
  background: -webkit-linear-gradient(top, #041b21 5%, #F3F3F3 100%);
  background: -o-linear-gradient(top, #041b21 5%, #F3F3F3 100%);
  background: -ms-linear-gradient(top, #041b21 5%, #F3F3F3 100%);
  background: linear-gradient(to bottom, #041b21 5%, #F3F3F3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#065468', endColorstr='#F3F3F3', GradientType=0);
  background-color: #065468;
}

button:active {
  top: 1px;
}

/* @media queries */

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
  .details {
    max-width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  .biopic {
    width: 150px;
    display: none;
  }
  .welcome-message {
    display: none;
  }
  .navbar {
    left: 0px;
    width: 100%;
  }
  .navbar .nav>li {
    height: 60px;
  }
  .navbar .nav>li a {
    height: 60px;
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
  }
  .project-entry p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .white-text-skills {
    font-size: 1em;
  }
  .date-text {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 1em;
  }
  .details {
    max-width: 100%;
  }
  #header {
    margin: 0;
  }
  #name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    min-width: 1px;
    display: none;
  }
  .navbar {
    margin-bottom: 0;
  }
  .navbar-brand {
    font-size: 2em;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    min-width: 1px;
  }
  p {
    padding: 1%;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 0.9em;
}

@media only screen and (min-width: 750px) {
  .date-text {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 80px;
    font-size: 1.5em;
  }
  .project-entry {
    display: inline-block;
  }
  .project-entry p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    margin-left: 10px;
    max-width: 100%;
  }
  .location-text {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.5em;
    display: inline-block;
    float: right;
    display: inline-flex;
  }
  #footerContacts.flex-box {
    margin-left: 100px;
  }
  button[class='navbar-toggle'] {
    display: none;
  }
}